<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FADEFINDER - fades</title>
	<link rel="stylesheet" href="style.css">
	<script src="main.js"></script>
	<script src="fades.js"></script>
</head>

<body id="body-fades">
	<%- include("parts/navbar", {currentPage: currentPage}) %>
		<section id="fade-requests">
			<div class="header-box"><img src="fadefinder-inline.png" alt="fadefinder logo">
				<h1>Fade Requests</h1>
			</div>

			<div class="fade-scroller">
				<% for(let fade of fades){ %>


					<% if (!filterFadeRequests(fade, userId)) continue %>
						<div class="card-container fades" id="fade-container-id-<%= fade.id %>">
							<%- include("parts/fade-card", { fade: fade }) %>

								<div class="like-dislike-btns" data-fadeid="<%= fade.id %>">
									<button class="dislike-btn">🙅‍♂️🙅‍♂️ Pass</button>
									<button class="like-btn">🥊 Scrap</button>
								</div>
						</div>
						<% } %>

			</div>

		</section>
		<section id="upcoming-fades">
			<div class="header-box"><img src="fadefinder-inline.png" alt="fadefinder logo">
				<h1>Upcoming Fades</h1>
			</div>

			<div class="fade-scroller">
				<% for(let fade of fades){ %>
					<!-- filters to only confirmed fades against you -->
					<% if (!filterUpcomingFades(fade, userId)) continue %>
						<div class="card-container fades">
							<%- include("parts/fade-card", { fade: fade }) %>
						</div>
						<% } %>
			</div>


			<img id="corner-logo" src="fadefinder-inline.png" alt="fadefinder logo">
</body>

</html>