<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FADEFINDER - match</title>
	<link rel="stylesheet" href="style.css">
	<script src="main.js"></script>
	<script src="match.js"></script>
</head>

<body id="body-match">
	<!-- <%- include("parts/bgvid") %> -->
	<%- include("parts/navbar") %>
		<div class="header-box"><img src="fadefinder-inline.png" alt="fadefinder logo">
			<h1>Match</h1>
		</div>

		<% for(let [id, profile] of profiles){ %>
			<% if (id==userId) { continue } %>
				<div class="card-container match" hidden>
					<%- include("parts/profile-card", { profile: profile }) %>

						<div class="like-dislike-btns" data-userid="<%= profile.id %>">
							<button class="dislike-btn">🙅‍♂️🙅‍♂️ Pass</button>
							<button class="like-btn">🥊 Scrap</button>
						</div>

						<form method="dialog" class="like-msg-box" data-userid="<%= profile.id %>"
							id="like-msg-box-<%= profile.id %>" hidden>
							<label>Time 🕰️ <input type="datetime-local" name="fadetime" id="fadetime-<%= profile.id %>"
									required></label>
							<label>Place 📍 <input type="text" name="likemsg" id="likemsg-<%= profile.id %>" required></label>

							<button class="submit-btn" type="submit">Send Time And Place !</button>
						</form>

				</div>
				<% } %>
					<div class="card-container match" id="no-more-profiles-card" hidden>
						<h1>🥊</h1>
						<h2>No More Profiles !</h2>
						<p>Maybe You Have Some Fade Requests ?</p>
					</div>
					<img id="corner-logo" src="fadefinder-inline.png" alt="fadefinder logo">
</body>

</html>