<nav id="navbar">
	<a <%=currentPage==="match" ? "href=#" : `href=/match?userId=${userId}` %>
		<%=currentPage==="match" ? "aria-current=page" : "" %>
			>
			<div>
				<p class="nav-icon">🤼</p>
				<p class="nav-text">match</p>
			</div>

	</a>
	<!-- <a <%=currentPage==="likes" ? "href=#" : `href=/likes?userId=${userId}` %>
		<%=currentPage==="likes" ? "aria-current=page" : "" %>
			>
			<div>
				<p class="nav-icon">💞</p>
				<p class="nav-text">likes</p>
			</div>

	</a> -->
	<a <%=currentPage==="fades" ? "href=#" : `href=/fades?userId=${userId}` %>
		<%=currentPage==="fades" ? "aria-current=page" : "" %>
			>
			<div>
				<p class="nav-icon">🥊</p>
				<p class="nav-text">fades</p>
			</div>

	</a>
</nav>