<article class="profile-card">
	<img class="profile-image" src="<%= profile.image %>" alt="profile picture">

	<h1 class="profile-name">
		<%= profile.name %>
	</h1>
	<div class="profile-stats">

		<p>
			<%= profile.height.ft %>'<%= profile.height.in %>", <%= profile.weight %> lbs
		</p>
		<p>
			<%= profile.age %> years old
		</p>
	</div>

</article>