<article class="profile-card" style="background-image: url('danny.png');">
	<h1 class="profile-name">
		<%= profile.name %>
	</h1>
	<img src="" alt="profile picture">
	<div class="profile-stats">

		<p>
			<%= profile.height.ft %>'<%= profile.height.in %>", <%= profile.weight %> lbs
		</p>
		<p>
			<%= profile.age %> years old
		</p>
	</div>

</article>